@use '../index.scss' as global;


.flex {
    display: flex;

    &.f-row {
        flex-direction: row;
    }

    &.f-col {
        flex-direction: column;
    }


    &.f-center {
        align-items: center;
        justify-content: center;

        &-h {
            align-items: center;
        }

        &-w {
            justify-content: center;
        }
    }

    &.f-wrap {
        flex-wrap: wrap;
    }

    &.f-end {
        justify-content: end;
    }

    &.f-start {
        justify-content: start;
    }

    &.f-between {
        justify-content: space-between;
    }

    &.f-around {
        justify-content: space-around;
    }

    &.gap {

        @each $name, $value in global.$units {
            &-#{$name} {
                gap: var(--unit-#{$name});
            }
        }
    }
}