@use '../index.scss' as global;

$directionsV: (
    "top",
    "bottom",
);

$directionsH: (
    "left",
    "right"
);

$styles: (
    none,
    hidden,
    dotted,
    dashed,
    solid,
    double,
    groove,
    ridge,
    inset,
    outset
);


.bd {

    //global style
    @each $style in $styles {
        &-#{$style} {
            border: 1px $style;
        }
    }

    //global border radius
    &-radius {
        @each $name, $value in global.$units {
            &-#{$name} {
                border-radius: var(--unit-#{$name});
            }
        }
    }

    //independant border
    @each $dv in $directionsV {
        &-#{$dv} {

            //set styles
            @each $style in $styles {
                &-#{$style} {
                    border-#{$dv}: 1px $style;
                }
            }

            //set radius
            @each $dh in $directionsH {
                &-#{$dh} {
                    @each $name, $value in global.$units {
                        &-radius-#{$name} {
                            border-#{$dv}-#{$dh}-radius: var(--unit-#{$name});
                        }
                    }
                }
            }
        }
    }


    @each $dh in $directionsH {

        &-#{$dh} {

            //set styles
            @each $style in $styles {
                &-#{$style} {
                    border-#{$dh}: 1px $style;
                }
            }
        }
    }

}