.container{
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: auto;
    width: 100%;

    @include mobile{
        padding: 0 var(--unit-2xl);
    }
}

.min-container{
    min-width: calc(var(--container-width) / 2);
}


