.color{

    $colorScale: (0,50,100,200,300,400,500,600,700,800,900,950);
    $colorName: ("primary","base","secondary");

    @each $name in $colorName{
        @each $scale in $colorScale{
            &-#{$name}-#{$scale}{
                &, & > *{
                    color: var(--#{$name}-#{$scale});
                }
            }
        }
    }

}