$spaceVarName: "unit" !default;

$units: (
    "xs",
    "s",
    "m",
    "l",
    "xl",
    "2xl",
    "3xl",
    "4xl",
    "5xl",
    "6xl",
    "7xl",
    ) !default;

$properties: (
    "padding",
    "margin"
);

$directions: (
    "top",
    "bottom",
    "left",
    "right",
    "all",
    "v",
    "h"
);

@each $prt in $properties {
    .#{$prt} {
        @each $direction in $directions {
            &-#{$direction} {
                @each $space in $units {
                    &-#{$space} {

                        @if($direction =="") {
                            #{$prt}: var(--#{$spaceVarName}-#{$space});
                        }

                        @else if($direction =="v") {
                            #{$prt}-top: var(--#{$spaceVarName}-#{$space});
                            #{$prt}-bottom: var(--#{$spaceVarName}-#{$space});
                        }

                        @else if($direction =="h") {
                            #{$prt}-left: var(--#{$spaceVarName}-#{$space});
                            #{$prt}-right: var(--#{$spaceVarName}-#{$space});
                        }

                        @else {
                            #{$prt}-#{$direction}: var(--#{$spaceVarName}-#{$space});
                        }

                    }
                }
            }
        }
    }
}